@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap'); 


*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 13px;
    padding: 40px;
}

 
.container{
    max-width: 1100px;
    margin: 100px auto;
    height: auto;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto;
    gap: 30px;
    background-color: gainsboro;
    grid-template-areas:
    "purple purple grey white-tall"
    "purple purple grey white-tall"
    "white grey-tall grey-tall white-tall"
    ;
   
}

.purple,
.grey,
.grey-tall,
.white,
.white-tall{
  padding: 26px;
  border-radius: 5px;
  

  img{
    border-radius: 50%;
    width: 28px;
  }
}

.purple{
    grid-area: purple;
    background-color: blueviolet;
    color: #fff;
    background-image: url("images/bg-pattern-quotation.svg");
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 122px;
    background-position-x: 80%;

    .bottom{
      padding-right: 2.5rem;
    }
   
}

.grey{
    grid-area: grey;
    background-color: rgb(102, 102, 133);
    color: #fff;


    .bottom{
      padding-right: 2.5rem;
    }
}

.grey-tall{
    grid-area: grey-tall;
    background-color:  rgb(36, 36, 77);
    color: #fff;

    .bottom{
      padding-right: 2.5rem;
    }
}

.white, .white-tall{
  background-color: #fff;
  color: rgb(36, 36, 77);
}

.white{
    grid-area: white;
    padding: 2.8rem;

.bottom{
  color: #808080;
}   
    
}

.white-tall{
    grid-area: white-tall;
    padding: 1.8rem;

    .bottom{
     color: #808080; 
    }
} 

.top{
  display: flex;
  gap: 20px;
  align-items: center;
  margin-bottom: 16px
}

.top h4{
  font-size: 12px;
}

.top p{
  color: #808080;
}

.middle{
  margin-bottom: 18px;
  font-weight: 500;
  font-size: 15px;
}

.bottom{
  color: #cfcfcf;
  line-height: 1.5;
}


@media (max-width: 600px) {
  .container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
    .purple,
    .grey,
    .grey-tall,
    .white,
    .white-tall
    
    
    ;
  }
}

